<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shivandev.btmonoforaudio" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".model.ScoProcessingSrv"
            android:enabled="true"
            android:exported="false"
            android:label="ScoProcessingSrv" >
        </service>
        <service
            android:name=".model.BtListenerSrv"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".model.BtHeadsetStateListenerBCastRec"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <!-- ресивер получающий уведомление о перезагрузке устройства, в нем стартует BtListener -->
        <receiver
            android:name=".model.OnRebootEvents"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- следующие два ресивера по факту виджеты -->
        <receiver
            android:name=".ui.ScoControlWidget"
            android:label="@string/widget1_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.shivandev.btmonoforaudio.action_sco_widget_update" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sco_control_widget_info" />
        </receiver>
        <receiver
            android:name=".ui.ScoControlAndBtListenerWidget"
            android:label="@string/widget2_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.shivandev.btmonoforaudio.action_bt_listener_widget_update" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sco_control_and_bt_listener_widget_info" />
        </receiver>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shivandev.btmonoforaudio.ui.MainActivity" />
        </activity>
    </application>

</manifest>
